.invalid::-webkit-input-placeholder {
    color: red;
}
.invalid:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
.invalid::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
.invalid:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}

.headcol {
  position: absolute;
  width: 281px;
  left: 55px;
  top: auto;
}

.headcol.noborder {
  border: none;
}

.headcol.course {
  background-color: #E9E9E9;
}
